
@media only screen and (max-width: 767px) {
  
  #slider {
    width: 80%;
  }

  .noUi-base:before {
  content: '1979';
  /*position: relative;*/
  position: absolute;
  font-family: helvetica;
  /*font-size: 1.5em;*/
  bottom: -120%;
  left: -7%;
}

.noUi-base:after {
  content: '2013';
  position: absolute;
  /*position: relative;*/
  left: 95%;
  bottom: -120%;
  font-family: helvetica;
  /*font-size: 1.5em;*/
}

}