@font-face {
  font-family: 'BloombergLBold';
    src: url("http://www.businessweek.com/assets/type/bloombergl_heavy.eot?#iefix") format('embedded-opentype'),
       url('http://www.businessweek.com/assets/type/bloombergl_heavy.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
  font-family:'BWHaasHead';
  src: url('http://www.businessweek.com/assets/type/hinted/haas/bwhaasgroteskhead-95black.eot?#iefix') format('eot'),
     url('http://www.businessweek.com/assets/type/hinted/haas/bwhaasgroteskhead-95black.woff') format('woff'),
     url('http://www.businessweek.com/assets/type/haas/bwhaasgroteskhead-95black.ttf') format('truetype');

  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}
@font-face {
  font-family:'BWHaasHead75Bold';
  src: url('http://www.businessweek.com/assets/type/hinted/haas75/bwhaasgroteskhead-75bold.eot?#iefix') format('eot'),
     url('http://www.businessweek.com/assets/type/hinted/haas75/bwhaasgroteskhead-75bold.woff') format('woff'),
     url('http://www.businessweek.com/assets/type/haas75/bwhaasgrotesktext-75bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}
@font-face {
  font-family:'BWHaasRegular';
  src: url('http://www.businessweek.com/assets/web_fonts/bwhaasgroteskhead-65medium.eot?#iefix') format('eot'),
     url('http://www.businessweek.com/assets/web_fonts/bwhaasgroteskhead-65medium.woff') format('woff'),
     url('http://www.businessweek.com/assets/web_fonts/bwhaasgrotesktext-65medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

body {
  background: white;
  height: 100%;
}

.title {
  font-family: 'BWHaasHead', sans-serif;
  text-align: center;
  color: black;
}

.animation {
  margin: 0 auto;
  margin-bottom: 1em;
  display: block;
}

#stop-animation {
  display: none;
}

#slider {
  width: 50%;
  margin: 0 auto;
}

#field {
  margin-top: 3%;
  margin: 0 auto;
  font-family: 'BWHaasRegular', sans-serif;
}


svg {
  margin: 0 auto;
  margin-top: -1.25em;
}

.dek-text {
  font-size: 1.75em;
  font-family: 'BWHaasRegular';
}

.key-proj {
  min-height: 2em;
  min-width: 20%;
  border: 1px solid black;
  background: #e4eaf5; /* Old browsers */
  background: -moz-linear-gradient(left,  #e4eaf5 0%, #ffff00 50%, #ff0000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e4eaf5), color-stop(50%,#ffff00), color-stop(100%,#ff0000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #e4eaf5 0%,#ffff00 50%,#ff0000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #e4eaf5 0%,#ffff00 50%,#ff0000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #e4eaf5 0%,#ffff00 50%,#ff0000 100%); /* IE10+ */
  background: linear-gradient(to right,  #e4eaf5 0%,#ffff00 50%,#ff0000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4eaf5', endColorstr='#ff0000',GradientType=1 ); /* IE6-9 */
}

.key-text {
  font-family: 'BWHaasRegular', sans-serif;
}

.bright {
  background: yellow;
/*  -webkit-animation-name: yellowPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;*/
}

.brighter {
  -webkit-animation-name: orangePulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.brightest {
  background: red;
/*  -webkit-animation-name: redPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;*/
}


.yellow-fill {
  -webkit-animation-name: yellowFillPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.orange-fill {
  -webkit-animation-name: orangeFillPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.red-fill {
  -webkit-animation-name: redFillPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.bright-fill {
  -webkit-animation-name: brightFillPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;

}

.brighter-fill {
  -webkit-animation-name: brighterFillPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;

}

.brightest-fill {
  -webkit-animation-name: brightestFillPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;

}


