@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);

body {
  background: black;
  height: 100%;
}

html {
height : 100%;
}

button:hover {
	opacity: .7;
}

.year-ul li {
	margin: 2em;
  display: inline-block;
}

ul {
  text-align: center;
  -webkit-padding-start: 0px;
}

button {
  padding: 1em 2em 1em 2em;
  border-radius: 1em;
  border:none;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

.key-wrapper {
  width: 80%;
  margin: 0 auto;
}

#text-key li {
  display: inline-block;
  width: 31%;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}



#key {
  margin: 0 auto;
  color: white;
  width: 80%;
  height: 20%;
  /*margin-bottom: 5%;*/
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(left, #ffffff 0%, #ffff00 50%, #ff0000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#ffff00), color-stop(100%,#ff0000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #ffffff 0%,#ffff00 50%,#ff0000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #ffffff 0%,#ffff00 50%,#ff0000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #ffffff 0%,#ffff00 50%,#ff0000 100%); /* IE10+ */
  background: linear-gradient(to right, #ffffff 0%,#ffff00 50%,#ff0000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ff0000',GradientType=1 ); /* IE6-9 */
}

.arrow-wrapper{
  margin: 0 auto;
  width: 80%;
}

#arrow {
  color: white;
  font-size: 2em;
  position: relative;
  -webkit-margin-before: 0em;
}

#text-year {
  font-family: 'Ubuntu', sans-serif;
}

#day-text {
  font-family: 'Ubuntu', sans-serif;
}


.bright {
  -webkit-animation-name: yellowPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.brighter {
  -webkit-animation-name: orangePulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.brightest {
  -webkit-animation-name: redPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}


.yellow-fill {
  -webkit-animation-name: yellowFillPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.orange-fill {
  -webkit-animation-name: orangeFillPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.red-fill {
  -webkit-animation-name: redFillPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.bright-fill {
  -webkit-animation-name: brightFillPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;

}

.brighter-fill {
  -webkit-animation-name: brighterFillPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;

}

.brightest-fill {
  -webkit-animation-name: brightestFillPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;

}

